.text-right {
    text-align: right;
}

.table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem !important;
}


.flex-row {
    padding-top: 15px;
}
.pull-right {
    float: right;
}
@media (min-width: 576px) {
.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}


}

@media (min-width: 768px) {
.col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.d-md-none{ display: none;}
.col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}


}

@media (min-width: 992px) {
    .d-md-none {
            display: none;
        }
.col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}


}

@media (min-width: 1200px) {
    .d-md-none {
            display: none;
        }

}