<!-- begin::Header -->
<div  class="card mb-5 mb-xl-8">

     <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Add Users</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">Over   Users</span> -->
        </h3>
        <!-- <div
          class="card-toolbar"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-trigger="hover"
          title="Click to add a user"
        >
          <a href="users/addedit" class="btn btn-sm btn-light-primary">
            <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
              class="svg-icon svg-icon-3"
            ></span>
            Add User
          </a>
        </div> -->
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <form #userForm="ngForm"  class="form">
            
            <div class="card mb-5 mb-xl-10">
                <div
                class="card-header border-0 cursor-pointer"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#kt_account_profile_details"
                aria-expanded="true"
                aria-controls="kt_account_profile_details"
                >
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Personal Details</h3>
                </div>
                </div>
                <div id="kt_account_profile_details" class="collapse show">
                
                    <div class="card-body border-top p-9">
                    
                    <div class="row mb-6">
                        
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6 fv-row">
                                    <label class=" col-form-label required fw-bold fs-6"
                                    >First Name</label
                                    >
                                    
                                    <input required [(ngModel)]="usermodel.firstName"
                                        type="text"
                                        class="form-control form-control-lg form-control-solid"
                                        placeholder="First Name"
                                        name="FirstName"
                                        value=""
                                    />
                                    
                                </div>
                                <div class="col-lg-6 fv-row">
                                    <label class=" col-form-label required fw-bold fs-6"
                                    >Last Name</label
                                    >
                                    
                                    <input [(ngModel)]="usermodel.lastName"
                                        type="text"
                                        class="form-control form-control-lg form-control-solid"
                                        placeholder="Last Name"
                                        name="LastName"
                                        value=""
                                    />
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                    </div>
                    
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span class="required">Email</span></label
                        >
                        <div class="col-lg-8 fv-row">
                        <input required [(ngModel)]="usermodel.email"
                            type="Email"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Email"
                            name="Email"
                            value=""
                        />
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span>Phone No</span></label
                        >
                        <div class="col-lg-8 fv-row">
                        <input [(ngModel)]="usermodel.phoneNo"
                            type="Email"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Phone No"
                            name="phoneNo"
                            value=""
                        />
                        </div>
                    </div>
                    
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span class="required">Groups</span></label
                        >
                        <div class="col-lg-8 fv-row">
                            <angular2-multiselect 
                            [data]="dropdownList" 
                            name="selectedItems" 
                            [(ngModel)]="selectedItems" 
                            style="border: 1px solid #ccc !important;    border-radius: 0.475rem;font-size: 15px; height: 45px;"
                            [settings]="dropdownSettings" 
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                           ></angular2-multiselect>

                           <!-- <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings">
                            <c-badge>
                                     <ng-template let-item="item">
                                      <label style="margin: 0px;">{{item.itemName}}</label>
                                      <img [src]="item.image" style="width: 16px; margin-right: 5px;" />
                                     </ng-template>
                            </c-badge>  
                          </angular2-multiselect> -->
                           
                           
                        
                        </div>
                    </div>
                    
                    
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span class="required">Password</span></label
                        >
                        <div class="col-lg-8 fv-row">
                            <input  [(ngModel)]="usermodel.password"
                                type="Password"
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Password"
                                name="Password"
                                value=""
                                (blur)="ValidatePassword()"
                            />


                            <div [innerHtml]="passwordError"  *ngIf="passwordError !=''" 
                            id="password-error" 
                            class="col-lg-8 fv-row">
                                At least 6 characters long <i id="password-length-icon" class="fa"></i>
                            </div>

                        </div>
                        
                            <!-- <div id="password-caps" class="valid-password">At least one capital letter <i id="password-caps-icon" class="fa"></i></div>
                            <div id="password-number" class="valid-password">At least one number <i id="password-number-icon" class="fa"></i></div>
                            <div id="password-special" class="valid-password">At least one special character <i id="password-special-icon" class="fa"></i></div> -->
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span class="required">Confirm Password</span></label
                        >
                        <div class="col-lg-8 fv-row">
                        <input [(ngModel)]="usermodel.confirmPassword"
                            type="Password"
                            class="form-control form-control-lg form-control-solid"
                            placeholder="Confirm Password"
                            name="ConfirmPassword"
                            value=""
                        />
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                          >Welcome Email</label
                        >
                        <div class="col-lg-8 fv-row">
                          <!-- <div class="d-flex align-items-center mt-3">
                            <label class="form-check form-check-inline form-check-solid me-5"
                              ><input [(ngModel)]="usermodel.sendWelcomeEmail"
                                class="form-check-input"
                                name="SendWelcomeEmail"
                                type="checkbox"
                              /><span class="fw-bold ps-2 fs-6">Send new user welcome email</span></label
                            >
                          </div> -->
                          <div class="col-lg-8 d-flex align-items-center">
                            <div class="form-check form-check-solid form-switch fv-row">
                                <input   name="SendWelcomeEmail" type="checkbox" [(ngModel)]="usermodel.sendWelcomeEmail"  class="form-check-input w-45px h-30px">
                                <label class="form-check-label">Send new user welcome email</label>
                            </div>
                        </div>
                        </div>
                      </div>

                      <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span class="required">Authentication Type</span></label
                        >
                        <div class="col-lg-8 fv-row">
                        <select [(ngModel)]="usermodel.authenticationType"
                            class="form-select form-select-solid form-select-lg fw-bold"
                            name="authenticationType"
                        >
                          <option *ngFor="let objlst of AuthTypes" value={{objlst.id}}>
                            {{objlst.accountTypeValue}}
                          </option>
                        </select>
                       
                        </div>
                    </div>
                    

                    
                    </div>
                    
                
                </div>
            </div>
            <div class="card mb-5 mb-xl-10">
                <div
                class="card-header border-0 cursor-pointer"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#kt_account_profile_details"
                aria-expanded="true"
                aria-controls="kt_account_profile_details"
                >
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Account Details</h3>
                </div>
                </div>
                <div id="kt_account_profile_details" class="collapse show">
                
                    <div class="card-body border-top p-9">
                    
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"
                        ><span class="required">Account Type</span></label
                        >
                        <div class="col-lg-8 fv-row">
                        <select [(ngModel)]="usermodel.accountTypeId"
                            class="form-select form-select-solid form-select-lg fw-bold"
                            name="accountTypeId"
                        >
                          <option *ngFor="let objlst of UserAccountTypes" value={{objlst.id}}>
                            {{objlst.accountTypeValue}}
                          </option>
                        </select>
                       
                        </div>
                    </div>
                    
                    
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6">
                            <span class="required">Account #</span>
                        </label>
                        <div class="col-lg-6 fv-row">
                            <!-- <input [(ngModel)]="usermodel.accountNumber"
                                type="text"
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Dehydrator Account Number"
                                name="AccountNumber"
                                value=""
                            /> -->
                            <app-type-ahead [urlToSearch]="accounttypeaheadUrl" [inputClass]="'form-control form-control-solid'"
                                [placeholder]="'Account Number'" [inputid]=" 'AccountNumber'" [inputValue]="receipient1"
                                (onSelect)="populateAccountInfo($event)">
                            </app-type-ahead>
                        </div>
                        <div class="col-lg-2">
                            <button 
                             class="btn btn-primary"
                             (click)="AddAccountNumber()"
                            >Add</button>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6">
                            <span class="required">Supplier</span>
                        </label>
                        <div class="col-lg-6 fv-row">
                            <input [(ngModel)]="usermodel.oldVendor_Id" style="display: none;"
                                type="text"
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Supplier Name"
                                name="oldVendor_Id"
                                value=""
                            />
                            <app-type-ahead [urlToSearch]="receipienttypeaheadUrl" [inputClass]="'form-control form-control-solid'"
                                [placeholder]="'Supplier Name'" [inputid]="'Receipient'" [inputValue]="receipient"
                                (onSelect)="populateSupplierInfo($event)">
                            </app-type-ahead>
                        </div>
                        <div class="col-lg-2">
                            <button 
                             class="btn btn-primary"
                             (click)="AddJDENumber()"
                            >Add</button>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-lg-4 fv-row">

                        </div>
                        <div class="col-lg-8 fv-row">
                            <table class="table align-middle gs-0 gy-4">
                                <thead>
                                    <tr class="fw-bolder text-muted bg-light">
                                        <td class="ps-4 min-w-200px rounded-start">
                                            Account #
                                        </td>
                                        <td class="min-w-125px text-center rounded-end">
                                            Action
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listJDENumber">
                                        <td>
                                            {{item}}
                                        </td>
                                        <td class="text-center"> 
                                            <a
                                                tooltip="Delete Info"
                                                title="Delete Info"
                                                (click)="removeJDENumber(item)"
                                                
                                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                                                >
                                                <span
                                                    [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                                                    class="svg-icon svg-icon-3"
                                                ></span>
                                                </a>

                                            <!-- <button 
                                            class="btn btn-primary"
                                            (click)="removeJDENumber(item)"
                                           >Remove</button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        
                    </div>

                    
                    </div>
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button [disabled]="userForm.invalid" 
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="isLoading"
                            (click)="saveSettings()"
                        >
                            <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                            <ng-container *ngIf="isLoading">
                            <span clas="indicator-progress" [style.display]="'block'">
                                Please wait...{{ " " }}
                                <span
                                class="spinner-border spinner-border-sm align-middle ms-2"
                                ></span>
                            </span>
                            </ng-container>
                        </button>
                    </div>
                
                </div>
            </div>
        </form>


    






        <!-- end::Table container -->
      </div>
      <!-- begin::Body -->
    </div>
