<form #resetForm="ngForm" class="form">
  <div class="mb-5 mb-xl-10">
    <div>
      <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <div id="kt_app_toolbar_container" class="d-flex flex-stack">
          <div
            class="page-title d-flex flex-column justify-content-center flex-wrap me-3"
          >
            <h1
              class="page-heading d-flex text-white fw-bold fs-3 flex-column justify-content-center my-0"
            >
              Reset Password
            </h1>
          </div>
        </div>
      </div>
      <div class="card px-10 py-10">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Password</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              [(ngModel)]="password"
              required
              type="Password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Password"
              name="Password"
              value=""
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Confirm Password</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              [(ngModel)]="confirmPassword"
              required
              type="Password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Confirm Password"
              name="ConfirmPassword"
              value=""
            />
          </div>
        </div>
        <div id="kt_account_profile_details" class="collapse show">
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button
              [disabled]="resetForm.invalid"
              type="submit"
              class="btn btn-primary"
              [disabled]="isLoading"
              (click)="SendPassword()"
            >
              <ng-container *ngIf="!isLoading">Reset Password</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
