<div class="row fs-8">
  <!--begin::Col-->
  <div class="col-md-12 fv-row fv-plugins-icon-container">
    <input
      type="text"
      class="{{ inputClass }}"
      name="searchText"
      required
      [(ngModel)]="searchText"
      (keyup)="search($event)"
      autocomplete="off"
      id="{{ inputid }}"
      placeholder="{{ placeholder }}"
      (change)="callSelection()"
      value="{{ inputValue }}"
    />
    <ul
      style="width: 250px; z-index: 100; position: absolute"
      class="card"
      id="dataList"
    >
      <div
        *ngFor="let data of dataList"
        class="pb-6"
        style="cursor: pointer; width: 200px; position: relative"
      >
        <a class="fs-5" (click)="setValue(data)" style="cursor: pointer">{{
          data.value
        }}</a>
      </div>
    </ul>
  </div>
</div>
