.text-right{
    text-align: right;
}
.report-btn {
    height: 43px;
    cursor: pointer;
    width: 100%;
}
.pull-right {
    float: right;
}
@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }


}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .d-md-none {
        display: none;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }


}

@media (min-width: 992px) {
    .d-md-none {
        display: none;
    }

    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }


}

@media (min-width: 1200px) {
    .d-md-none {
        display: none;
    }

}